@import url("../color-scheme.css");

.wrapper {
  width: 100%;
  height: fit-content;
  background: var(--background);
  margin-top: 24px;
}

/* .panel { */
/*   border-bottom: 2px solid var(--text); */
/* } */

.panel h1 {
  font-size: 36px;
}

.panel-info {
  display: flex;
  gap: 24px;
  font-size: 24px;
  margin: 24px 0;
}

.action-btns {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
}

.action-btns button {
  width: calc(100% / 5);
  height: 60px;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn-update {
  background: var(--primary);
  color: var(--background);
  cursor: pointer;
}

.btn-add {
  background: var(--secondary);
  color: var(--text);
  cursor: pointer;
}

.btn-assign {
  background: var(--accent);
  color: var(--background);
  cursor: pointer;
}

.btn-delete {
  background: #f00;
  color: var(--background);
  cursor: pointer;
}

.details-container {
  width: 100%;
  border-top: 2px solid var(--text);
  margin-top: 24px;
}

.details-container h2 {
  margin-top: 24px;
  font-size: 24px;
}

.ticket-info {
  margin-top: 24px;
}

.ticket-info div:nth-child(odd) {
  background-color: var(--secondary);
  color: var(--text);
}

.info-row {
  display: flex;
  align-items: center;
  font-size: 24px;
  width: 100%;
  min-height: 60px;
  padding: 0 24px;
  text-transform: uppercase;
}

.info-row span {
  display: inline-block;
  width: 50%;
  height: fit-content;
  overflow-wrap: break-word;
  line-height: 40px;
}

.info-value {
  padding-left: 10px;
}

.action-btn {
  margin-top: 48px;
  height: 100px;
}

.btn-close {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 330px;
  height: 60px;
  border: none;
  outline: none;
  background: #f00;
  color: #fff;
  cursor: pointer;
}

.update_modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
}

.update_modal > div {
  position: relative;
  top: 0;
  left: 0;
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--background);
}

.header {
  width: 50%;
  border-bottom: 2px solid var(--text);
}

.header h1 {
  font-size: 36px;
}

.header h2 {
  font-size: 24px;
  margin-top: 24px;
}

.update_modal form {
  width: 50%;
  height: 50%;
  margin-top: 24px;
}

.inputGroup {
  width: 100%;
  height: 60px;
  margin-top: 24px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.inputGroup input {
  width: 26px;
  height: 26px;
}

.labels {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.labels label:first-child {
  font-size: 24px;
}

.inputGroup input:checked + .labels {
  background: var(--secondary);
}

.btn-status {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% / 2);
  height: 60px;
  border: none;
  outline: none;
  background: var(--primary);
  color: #fff;
  cursor: pointer;
}

.btn-cancel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% / 2);
  height: 60px;
  border: none;
  outline: none;
  background: var(--primary);
  color: #fff;
  cursor: pointer;
}

.notes textarea {
  margin-top: 24px;
  width: 100%;
  height: 230px;
  font-size: 16px;
  padding: 12px;
  resize: none;
  background: var(--background);
}

.assign {
  width: 100%;
  position: relative;
}

.assign input {
  height: 60px;
  width: 100%;
  margin-top: 24px;
  padding: 10px;
  margin-bottom: 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: border-color 0.3s ease-in-out;
  outline: none;
  color: var(--text);
}

.assign input:focus {
  border-color: var(--accent);
}

.assign ul {
  position: absolute;
  background: var(--background);
  width: 100%;
  height: fit-content;
  max-height: 200px;
  left: 0;
  top: 100%;
  overflow-y: scroll;
  border: 1px solid #ddd;
  border-radius: 4px;
  list-style: none;
}

.assign ul li {
  padding: 2px;
}

.assign ul li:hover {
  background: var(--secondary);
}

.warning p {
  width: 100%;
  height: 60px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.warning p:last-child {
  color: #f00;
}
